@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.mc-picker {
  margin: 30px 30px;
  padding: 20px 20px 20px 20px;
  background-color: #eee;
  border-radius: 12px;
  -webkit-box-shadow: -12px -12px 12px white, 12px 12px 12px rgba(0, 0, 0, 0.08);
          box-shadow: -12px -12px 12px white, 12px 12px 12px rgba(0, 0, 0, 0.08);
}

.mc-picker *::after {
  content: "";
  display: table;
  clear: both;
}

.mc-picker .col {
  overflow: hidden;
  text-align: center;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}

.mc-picker .sel {
  border-radius: 6px;
  outline: none;
  margin-top: 10px;
  padding: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background: rgba(150, 42, 56, 0.9);
  text-align-last: center;
  width: 100%;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.mc-picker .sel select {
  width: inherit;
  font-size: inherit;
  font-size-adjust: inherit;
}

.mc-picker .sel select option {
  width: inherit;
}

.mc-picker .sel:hover {
  background: #707a81;
}

.mc-picker .departamentos {
  overflow: visible;
  width: 16%;
}

.mc-picker .disciplinas {
  overflow: visible;
  width: 48%;
  height: inherit;
}

.mc-picker .turmas {
  overflow: visible;
  width: 30%;
  height: inherit;
}

.mc-picker .btn {
  overflow: visible;
  width: 6%;
  height: inherit;
  margin-top: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mc-picker .btn button {
  margin-top: 36px;
  overflow: visible;
  height: 24px;
  width: 24px;
  background: #eee;
  border: 0;
  cursor: pointer;
}

.mc-picker .btn button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.mc-picker .btn button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.mc-picked {
  margin: 30px 30px;
  padding: 20px 20px 20px 20px;
  background-color: #eee;
  border-radius: 12px;
  -webkit-box-shadow: -12px -12px 12px white, 12px 12px 12px rgba(0, 0, 0, 0.08);
          box-shadow: -12px -12px 12px white, 12px 12px 12px rgba(0, 0, 0, 0.08);
}

.mc-picked *::after {
  content: "";
  display: table;
  clear: both;
}

.mc-picked .choosed-container p {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.mc-picked .choosed-container .choosed {
  padding: 10px 0px;
}

.mc-picked .choosed-container .choosed .c_col {
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
}

.mc-picked .choosed-container .choosed .c_disc {
  border-right: 1px solid black;
  padding: 4px;
  width: 64%;
}

.mc-picked .choosed-container .choosed .c_turma {
  border-right: 1px solid black;
  padding: 4px;
  width: 30%;
}

.mc-picked .choosed-container .choosed .c_btn {
  overflow: visible;
  width: 6%;
  height: inherit;
  margin-top: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mc-picked .choosed-container .choosed .c_btn button {
  overflow: visible;
  height: 24px;
  width: 24px;
  background: #eee;
  border: 0;
  cursor: pointer;
}

.mc-picked .choosed-container .choosed .c_btn button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.mc-picked .choosed-container .choosed .c_btn button:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.mc-resolve {
  margin: 30px 30px;
  padding: 20px 20px 20px 20px;
  background-color: #eee;
  border-radius: 12px;
  -webkit-box-shadow: -12px -12px 12px white, 12px 12px 12px rgba(0, 0, 0, 0.08);
          box-shadow: -12px -12px 12px white, 12px 12px 12px rgba(0, 0, 0, 0.08);
}

.mc-resolve *::after {
  content: "";
  display: table;
  clear: both;
}

.mc-resolve .min-sel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mc-resolve .min-sel p {
  padding: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 12px;
}

.mc-resolve .min-sel #sel_min {
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background: rgba(238, 238, 238, 0.9);
  border-top: none;
  border-right: none;
  border-left: none;
  text-align-last: center;
  width: 5%;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.mc-resolve .res-btn {
  text-align: center;
}

.mc-resolve .res-btn button {
  cursor: pointer;
  background: #962a38;
  color: white;
  border-radius: 16px;
  border-color: #eee;
  border-style: solid;
  border-width: 2px;
  outline: none;
  -webkit-box-shadow: -8px -8px 8px white, 8px 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: -8px -8px 8px white, 8px 8px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.mc-resolve .res-btn button:hover {
  background: white;
  color: #962a38;
  border-color: #962a38;
}

.mc-resolve .res-btn button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

@media screen and (max-width: 900px) {
  .mc-picker .col {
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 15px;
  }
  .mc-picker .col .sel {
    border-radius: 16px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgba(150, 42, 56, 0.9);
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: white;
  }
  .mc-picker .col .sel option {
    width: 100%;
  }
  .mc-picker .btn {
    display: inline-block;
    margin-top: 10px;
    overflow: visible;
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    background: #eee;
  }
  .mc-picker .btn button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    height: 24px;
    border: 0;
    cursor: pointer;
  }
  .mc-picker .btn button:hover {
    overflow: visible;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .mc-picker .btn button:active {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .mc-picked .choosed-container .choosed {
    position: relative;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.9);
    color: black;
    border: 1px solid #707a81;
    border-radius: 16px;
  }
  .mc-picked .choosed-container .choosed .c_col {
    border: 0;
    font-size: 16px;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 15px 15px;
  }
  .mc-picked .choosed-container .choosed .c_disc {
    border-bottom: 1px solid #707a81;
  }
  .mc-picked .choosed-container .choosed .c_btn {
    text-align: right;
    position: absolute;
    top: -24px;
    right: -24px;
    overflow: visible;
  }
  .mc-picked .choosed-container .choosed .c_btn button {
    background: white;
    border-radius: 16px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    height: 24px;
    cursor: pointer;
  }
  .mc-picked .choosed-container .choosed .c_btn button:active {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}
/*# sourceMappingURL=picker.css.map */