$ufop_red: #962a38;
$ufop_grey: #707a81;

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.mc-picker {
  // height: 120px;
  margin: 30px 30px;
  padding: 20px 20px 20px 20px;
  background-color: #eee;
  border-radius: 12px;
  box-shadow: -12px -12px 12px rgba($color: #fff, $alpha: 1), 12px 12px 12px rgba($color: #000, $alpha: 0.08);
}

.select-container {
  height: 100%;
  width: 100%;
}

.col {
  // height: 100%;
  overflow: hidden;
  text-align: center;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}

.sel {
  margin-top: 10px;
  padding: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background: rgba($color: $ufop_red, $alpha: 0.9);
  text-align-last: center;
  width: 100%;
  color: white;
  font-size: 16px;
  cursor: pointer;

  select {
    width: inherit;
    font-size: inherit;
    font-size-adjust: inherit;

    option {
      width: inherit;
    }
  }

  &:hover {
    background: $ufop_grey;
  }
}

.departamentos {
  //   background-color: orange;
  overflow: visible;
  width: 16%;
  
}

.disciplinas {
  //   background-color: red;
  overflow: visible;
  width: 48%;
  height: inherit;

}

.turmas {
  //   background-color: green;
  overflow: visible;
  width: 30%;
  height: inherit;
}

.btn {
  // margin-top: 50px;
  overflow: visible;
  width: 6%;
  height: inherit;
  margin-top: 0px;
  box-sizing: border-box;
  background:#eee;

  button {
    margin-top: 36px;
    overflow: visible;
    height: 24px;
    width: 24px;
    background: #eee;
    border: 0;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
      transition: all 0.2s;
    }

    &:active {
      // box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.05);
      transform: translateY(5px);
      transition: all 0.2s;
    }
  }
  // background-color: rgb(44, 44, 250);
}

.mc-picker :after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
  .col {
    font-size: 16px;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 15px 15px;

    .sel {
      margin-top: 10px;
      padding: 10px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      background-color: rgba($color: $ufop_red, $alpha: 0.9);
      width: 70vw;
      color: white;
      text-align-last: center;
      font-size: inherit;

      select {
        width: 70vw;

        option {
          width: 70vw;
        }
      }
    }
  }

  .btn {
    display: inline-block;
    margin-top: 10px;
    overflow: visible;
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    background:#eee;

    button {
      background:#eee;
      width: fit-content;
      margin: 0;
      height: 26px;
      border: 0;
      // border-radius: 4px;
      cursor: pointer;
      
      
      &:hover {
        overflow: visible;
        transform: translateY(-5px);
        transition: all 0.2s;
      }

      &:active {
        // box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.05);
        transform: translateY(5px);
        transition: all 0.2s;
      }
    }
  }
}
