$ufop_red: #962a38;
$ufop_grey: #707a81;

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.mc-picker {
  // height: 120px;
  margin: 30px 30px;
  padding: 20px 20px 20px 20px;
  background-color: #eee;
  border-radius: 12px;
  box-shadow: -12px -12px 12px rgba($color: #fff, $alpha: 1), 12px 12px 12px rgba($color: #000, $alpha: 0.08);
  *::after {
    content: "";
    display: table;
    clear: both;
  }
  .col {
    // height: 100%;
    overflow: hidden;
    text-align: center;
    float: left;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
  }

  .sel {
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    padding: 4px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background: rgba($color: $ufop_red, $alpha: 0.9);
    text-align-last: center;
    width: 100%;
    color: white;
    font-size: 16px;
    cursor: pointer;

    select {
      width: inherit;
      font-size: inherit;
      font-size-adjust: inherit;

      option {
        width: inherit;
      }
    }

    &:hover {
      background: $ufop_grey;
    }
  }

  .departamentos {
    //   background-color: orange;
    overflow: visible;
    width: 16%;
  }

  .disciplinas {
    //   background-color: red;
    overflow: visible;
    width: 48%;
    height: inherit;
  }

  .turmas {
    //   background-color: green;
    overflow: visible;
    width: 30%;
    height: inherit;
  }

  .btn {
    // margin-top: 50px;
    overflow: visible;
    width: 6%;
    height: inherit;
    margin-top: 0px;
    box-sizing: border-box;
    // background: #eee;

    button {
      margin-top: 36px;
      overflow: visible;
      height: 24px;
      width: 24px;
      background: #eee;
      border: 0;
      cursor: pointer;

      &:hover {
        transform: translateY(-2px);
        transition: all 0.2s;
      }

      &:active {
        // box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.05);
        transform: translateY(2px);
        transition: all 0.2s;
      }
    }
    // background-color: rgb(44, 44, 250);
  }
}

.mc-picked {
  *::after {
    content: "";
    display: table;
    clear: both;
  }
  margin: 30px 30px;
  padding: 20px 20px 20px 20px;
  background-color: #eee;
  border-radius: 12px;
  box-shadow: -12px -12px 12px rgba($color: #fff, $alpha: 1), 12px 12px 12px rgba($color: #000, $alpha: 0.08);

  .choosed-container {
    p {
      padding: 10px;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      border-bottom: 1px solid black;
    }

    .choosed {
      padding: 10px 0px;

      .c_col {
        float: left;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        text-align: center;
      }

      // .c_depto {
      //   padding: 4px;
      //   width: 16%;
      //   // background: green;
      // }
      .c_disc {
        border-right: 1px solid black;
        padding: 4px;
        width: 64%;
        // background: red;
      }
      .c_turma {
        border-right: 1px solid black;
        padding: 4px;
        width: 30%;
        // background: yellow;
      }
      .c_btn {
        overflow: visible;
        width: 6%;
        height: inherit;
        margin-top: 0px;
        box-sizing: border-box;
        // background: #eee;

        button {
          // margin-top: 36px;
          overflow: visible;
          height: 24px;
          width: 24px;
          background: #eee;
          border: 0;
          cursor: pointer;

          &:hover {
            transform: translateY(-5px);
            transition: all 0.2s;
          }

          &:active {
            // box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.05);
            transform: translateY(5px);
            transition: all 0.2s;
          }
        }
      }
    }
  }
}

.mc-resolve {
  margin: 30px 30px;
  padding: 20px 20px 20px 20px;
  background-color: #eee;
  border-radius: 12px;
  box-shadow: -12px -12px 12px rgba($color: #fff, $alpha: 1), 12px 12px 12px rgba($color: #000, $alpha: 0.08);
  *::after {
    content: "";
    display: table;
    clear: both;
  }

  .min-sel {
    display: flex ;
    margin-bottom: 30px;
    justify-content: center;
    // border-bottom: 1px solid black;
    
    p {
      padding: 4px;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: bold;
      width: fit-content;
      margin-right: 12px;
      // background: green;
    }

    #sel_min {
      // border-radius: 6px;
      outline: none;
      // margin-top: 10px;
      // padding: 4px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      background: rgba($color: #EEE, $alpha: 0.9);
      border-top: none;
      border-right: none;
      border-left: none;
      text-align-last: center;
      width: 5%;
      color: black;
      font-size: 16px;
      // outline: none;
      cursor: pointer;

      // &:hover {
      //   background: $ufop_red;
      // }
    }
  }

  .res-btn {
    text-align: center;

    button {
      cursor: pointer;
      background: $ufop_red;
      color: white;
      border-radius: 16px;
      border-color: #eee;
      border-style: solid;
      border-width: 2px;
      outline: none;
      //   box-shadow: 0px 4px 4px black;
      box-shadow: -8px -8px 8px rgba($color: #fff, $alpha: 1), 8px 8px 8px rgba($color: #000, $alpha: 0.1);
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;

      &:hover {
        background: white;
        color: $ufop_red;
        border-color: $ufop_red;
      }

      &:active {
        box-shadow: none;
        transform: translateY(4px);
        transition: ease-out 0.2s;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .mc-picker {
    .col {
      text-align: center;
      font-size: 16px;
      width: 100%;
      padding: 15px;

      .sel {
        border-radius: 16px;
        margin-top: 10px;
        padding: 5px 10px;
        background-color: rgba($color: $ufop_red, $alpha: 0.9);
        width: 100%;
        // text-align-last: center;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: white;

        option {
          width: 100%;
        }
      }
    }

    .btn {
      display: inline-block;
      margin-top: 10px;
      overflow: visible;
      height: 100%;
      width: 100%;
      padding: 5px 10px;
      background: #eee;

      button {
        // background: #eee;
        width: fit-content;
        margin: 0;
        height: 24px;
        border: 0;
        // border-radius: 4px;
        cursor: pointer;

        &:hover {
          overflow: visible;
          transform: translateY(-5px);
          transition: all 0.2s;
        }

        &:active {
          // box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.05);
          transform: translateY(5px);
          transition: all 0.2s;
        }
      }
    }
  }

  .mc-picked {
    .choosed-container {
      .choosed {
        position: relative;
        margin-top: 10px;
        background: rgba($color: white, $alpha: 0.9);
        color: black;
        border: 1px solid $ufop_grey;
        border-radius: 16px;

        .c_col {
          border: 0;
          font-size: 16px;
          position: relative;
          width: 100%;
          text-align: center;
          padding: 15px 15px;
        }

        .c_disc {
          border-bottom: 1px solid $ufop_grey;
        }

        .c_btn {
          text-align: right;
          position: absolute;
          top: -24px;
          right: -24px;
          overflow: visible;

          button {
            background: white;
            border-radius: 16px;
            width: fit-content;
            margin: 0;
            height: 24px;
            // border: 0;
            // border-radius: 4px;
            cursor: pointer;

            &:active {
              // box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.05);
              transform: translateY(2px);
              transition: all 0.2s;
            }
          }
        }
      }
    }
  }
}
