$ufop_red: #962a38;
$ufop_grey: #707a81;

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mc-schedule {
  //   background: white;

  text-align: center;
  margin: 30px 30px;
  padding: 20px 20px 20px 20px;
  background-color: #eee;
  border-radius: 12px;
  box-shadow: -12px -12px 12px rgba($color: #fff, $alpha: 1), 12px 12px 12px rgba($color: #000, $alpha: 0.08);
  *::after {
    content: "";
    display: table;
    clear: both;
  }
  .container {
    display: flex;
    margin-top: 20px;
    .left {
      width: 36px;
      height: 36px;
      margin-top: 80px;
      margin-right: 20px;

      button {
        background: #eee;
        border: 0;
        cursor: pointer;
        outline: none;

        &:hover {
          transform: translateY(-2px);
          transition: all 0.2s;
        }

        &:active {
          // box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.05);
          transform: translateY(2px);
          transition: all 0.2s;
        }
      }
    }

    .right {
      width: 36px;
      height: 36px;
      margin-top: 80px;
      margin-left: 20px;

      button {
        background: #eee;
        border: 0;
        cursor: pointer;
        outline: none;

        &:hover {
          transform: translateY(-2px);
          transition: all 0.2s;
        }

        &:active {
          // box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.05);
          transform: translateY(2px);
          transition: all 0.2s;
        }
      }
    }
    .tabela-container {
      width: 100%;
      height: fit-content;

      .tabela {
        @keyframes shake {
          0% {
            transform: translate(1px, 1px) rotate(0deg);
          }
          10% {
            transform: translate(-1px, -2px) rotate(-1deg);
          }
          20% {
            transform: translate(-3px, 0px) rotate(1deg);
          }
          30% {
            transform: translate(3px, 2px) rotate(0deg);
          }
          40% {
            transform: translate(1px, -1px) rotate(1deg);
          }
          50% {
            transform: translate(-1px, 2px) rotate(-1deg);
          }
          60% {
            transform: translate(-3px, 1px) rotate(0deg);
          }
          70% {
            transform: translate(3px, 1px) rotate(-1deg);
          }
          80% {
            transform: translate(-1px, -1px) rotate(1deg);
          }
          90% {
            transform: translate(1px, 2px) rotate(0deg);
          }
          100% {
            transform: translate(1px, -2px) rotate(-1deg);
          }
        }
       
        border: 1px solid $ufop_grey;
        border-spacing: 0;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;

        tr,
        td,
        thead {
          padding: 4px;
        }

        thead {
          background-color: $ufop_red;
          color: white;
          overflow: hidden;
          font-size: 20px;
          .tr_dias {
            td {
              border-right: 1px solid white;
              &:last-of-type {
                border: none;
              }
            }
          }
        }

        tbody {
          .dia {
            .td_horarios {
              border-bottom: 1px solid $ufop_grey;
              border-right: 1px solid $ufop_grey;
            }
            // display: flex;
            .valores {
              display: none;
            }
            td {
              border-bottom: 1px solid $ufop_grey;
              border-right: 1px solid $ufop_grey;

              &:last-of-type {
                border-right: none;
              }
            }
          }
          .ultimo {
            .td_horarios {
              border-bottom: none;
            }

            td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
  h1 {
    font-size: 20px;
    padding: 8px;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
  }
  .legenda-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    background: #fff;
    border: 1px solid $ufop_grey;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;

    p {
      width: 100%;
      padding: 16px;
    }
  }
}

@media screen and (max-width: 900px) {
  .mc-schedule {
  
    .container {
      padding: 10px 0px;
      border-bottom: 1px solid $ufop_grey;
      display: grid;
      margin: 0;
      grid-template-areas:
        "tabela tabela"
        "left right";
      
      .left {
        margin: 0 auto;
        grid-area: left;
        
      }
      .right {
        
        margin: 0 auto;
        grid-area: right;
      }

      .tabela-container {
        padding: 0px 0px 10px 0px;
        grid-area: tabela;
        
        .tabela {
          * {
            display: block;
            border: none;
            box-sizing: border-box;
          }

          thead {
            padding: 0px;

            .tr_dias {
              display: flex;
              font-size: 8px;
              margin: 0 auto;
              padding: 0px 0px;
              justify-content: center;

              td {
                width: 16%;
              }
            }
            #blank {
              width: 20%;
            }
          }

          tbody {
            display: block;

            .dia {
              padding: 0px;
              display: flex;
              justify-content: center;

              .td_horarios {
                padding: 4px 0px;
                font-size: 8px;
                width: 20%;
              }
              .td_values {
                padding: 0px;
                font-size: 8px;
                width: 16%;
                padding: 4px 0px;
              }
            }
          }
        }
      }
    }
    h1{
      padding: 10px;
      margin: 10px 0px;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
    }
    .legenda-container {
      display: block;
      margin-top: 0px;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;

      p {
        padding: 8px;
      }
    }
  }
}
