@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mc-schedule {
  text-align: center;
  margin: 30px 30px;
  padding: 20px 20px 20px 20px;
  background-color: #eee;
  border-radius: 12px;
  -webkit-box-shadow: -12px -12px 12px white, 12px 12px 12px rgba(0, 0, 0, 0.08);
          box-shadow: -12px -12px 12px white, 12px 12px 12px rgba(0, 0, 0, 0.08);
}

.mc-schedule *::after {
  content: "";
  display: table;
  clear: both;
}

.mc-schedule .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.mc-schedule .container .left {
  width: 36px;
  height: 36px;
  margin-top: 80px;
  margin-right: 20px;
}

.mc-schedule .container .left button {
  background: #eee;
  border: 0;
  cursor: pointer;
  outline: none;
}

.mc-schedule .container .left button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.mc-schedule .container .left button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.mc-schedule .container .right {
  width: 36px;
  height: 36px;
  margin-top: 80px;
  margin-left: 20px;
}

.mc-schedule .container .right button {
  background: #eee;
  border: 0;
  cursor: pointer;
  outline: none;
}

.mc-schedule .container .right button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.mc-schedule .container .right button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.mc-schedule .container .tabela-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.mc-schedule .container .tabela-container .tabela {
  border: 1px solid #707a81;
  border-spacing: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.mc-schedule .container .tabela-container .tabela tr,
.mc-schedule .container .tabela-container .tabela td,
.mc-schedule .container .tabela-container .tabela thead {
  padding: 4px;
}

.mc-schedule .container .tabela-container .tabela thead {
  background-color: #962a38;
  color: white;
  overflow: hidden;
  font-size: 20px;
}

.mc-schedule .container .tabela-container .tabela thead .tr_dias td {
  border-right: 1px solid white;
}

.mc-schedule .container .tabela-container .tabela thead .tr_dias td:last-of-type {
  border: none;
}

.mc-schedule .container .tabela-container .tabela tbody .dia .td_horarios {
  border-bottom: 1px solid #707a81;
  border-right: 1px solid #707a81;
}

.mc-schedule .container .tabela-container .tabela tbody .dia .valores {
  display: none;
}

.mc-schedule .container .tabela-container .tabela tbody .dia td {
  border-bottom: 1px solid #707a81;
  border-right: 1px solid #707a81;
}

.mc-schedule .container .tabela-container .tabela tbody .dia td:last-of-type {
  border-right: none;
}

.mc-schedule .container .tabela-container .tabela tbody .ultimo .td_horarios {
  border-bottom: none;
}

.mc-schedule .container .tabela-container .tabela tbody .ultimo td {
  border-bottom: none;
}

.mc-schedule h1 {
  font-size: 20px;
  padding: 8px;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}

.mc-schedule .legenda-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  background: #fff;
  border: 1px solid #707a81;
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.mc-schedule .legenda-container p {
  width: 100%;
  padding: 16px;
}

@media screen and (max-width: 900px) {
  .mc-schedule .container {
    padding: 10px 0px;
    border-bottom: 1px solid #707a81;
    display: -ms-grid;
    display: grid;
    margin: 0;
        grid-template-areas: "tabela tabela" "left right";
  }
  .mc-schedule .container .left {
    margin: 0 auto;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .mc-schedule .container .right {
    margin: 0 auto;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: right;
  }
  .mc-schedule .container .tabela-container {
    padding: 0px 0px 10px 0px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: tabela;
  }
  .mc-schedule .container .tabela-container .tabela * {
    display: block;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mc-schedule .container .tabela-container .tabela thead {
    padding: 0px;
  }
  .mc-schedule .container .tabela-container .tabela thead .tr_dias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 8px;
    margin: 0 auto;
    padding: 0px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mc-schedule .container .tabela-container .tabela thead .tr_dias td {
    width: 16%;
  }
  .mc-schedule .container .tabela-container .tabela thead #blank {
    width: 20%;
  }
  .mc-schedule .container .tabela-container .tabela tbody {
    display: block;
  }
  .mc-schedule .container .tabela-container .tabela tbody .dia {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mc-schedule .container .tabela-container .tabela tbody .dia .td_horarios {
    padding: 4px 0px;
    font-size: 8px;
    width: 20%;
  }
  .mc-schedule .container .tabela-container .tabela tbody .dia .td_values {
    padding: 0px;
    font-size: 8px;
    width: 16%;
    padding: 4px 0px;
  }
  .mc-schedule h1 {
    padding: 10px;
    margin: 10px 0px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }
  .mc-schedule .legenda-container {
    display: block;
    margin-top: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }
  .mc-schedule .legenda-container p {
    padding: 8px;
  }
}
/*# sourceMappingURL=schedule.css.map */